@import "../../app/globals.scss";

$schoolInfo-bg: rgb(30, 34, 51);

.school-info {
  background: linear-gradient($blue-bg2, $blue-bg1, $blue-bg2);
  padding: 30px;

  .row-boxes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    width: 100%;
    justify-content: space-between;
    margin-top: 15px;
  }

  @media only screen and (max-width: 1100px) {
    .row-boxes {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      justify-content: center;
    }
  }

  @media only screen and (max-width: 900px) {
    .row-boxes {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media only screen and (max-width: 700px) {
    .row-boxes {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
